@using ExDyslex.Areas.Public.Models

@model PersonalCabinetViewModel

<div class="row">
    <div class="col">
        <a href="https://www.sgu.ru/">
            <img src="/img/Logo_SGU.jpg" width="106" height="98" style="margin-top: 20px;margin-left: 50px;margin-bottom: 0px;display: inline;">
        </a>
        <p style="margin-left: 50px;">САРАТОВСКИЙ НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ<br>ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ ИМЕНИ Н.&nbsp;Г.&nbsp;ЧЕРНЫШЕВСКОГО<br></p>
    </div>
    <div class="col" style="margin-top: 0px;margin-left: 300px;">
        <img src="/img/boy.png" width="106" height="141" style="border-radius: 50%;width: 100px;height: 100px;margin-top: 20px;margin-left: 803px;margin-right: 50px;">
        <p class="fs-2 fw-normal" style="/*display: inline;*/padding-top: 0px;margin-bottom: 0px;margin-top: 0px;margin-left: 791px;margin-right: 50px;color: #9CA3E0;">Дмитрий</p>
    </div>
</div>
<hr style="color: var(--bs-link-hover-color);/*height: 5px;*/border-top: 2px solid;opacity: 1;">

<a href="@Url.Action("Index", "Tests")" class="btn btn-primary bg-primary border rounded-pill" style="margin-top: 20px;padding-right: 54px;padding-left: 48px;background-color: #727CD6 !important;margin-left: 10px;margin-right: 10px;margin-left:1500px;">В каталог тестов</a>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-left: 800px;margin-top: 64px;color: #9CA3E0 !important;">Личный кабинет</h1>
            
            @{
                if (Model != null)
                {
                    <form asp-action="PersonalCabinetUpdate" asp-controller="Clients" method="post" style="margin-left: 124px;margin-right: 90px;padding-left: 550px;padding-right: 550px;margin-top: 18px;">
                        <input type="hidden" asp-for="ClinetModel.Id" value="@Model.ClinetModel.Id" />

                        <img src="@(string.IsNullOrWhiteSpace(Model.ClinetModel.MainPhotoPath) ? "/img/boy.png" : Model.ClinetModel.MainPhotoPath)" width="146" height="194" style="border-radius: 50%;width: 150px;height: 150px;margin-left: 220px;margin-top: 14px;">

                        <p style="margin-bottom: 5px;">Имя</p>
                        <input class="form-control" asp-for="ClinetModel.FirstName" type="text" required style="border-color: #727CD6 !important;margin-bottom: 30px;">

                        <p style="margin-bottom: 5px;">Фамилия</p>
                        <input class="form-control" asp-for="ClinetModel.LastName" type="text" style="border-color: #727CD6 !important;margin-bottom: 30px;">

                        <p style="margin-bottom: 5px;">Отчество (при наличии)</p>
                        <input class="form-control" asp-for="ClinetModel.PatronymicName" type="text" style="border-color: #727CD6 !important;margin-bottom: 30px;">

                        <p style="margin-bottom: 5px;">Дата рождения</p>
                        <input class="form-control" asp-for="ClinetModel.Birthday" required type="date" style="margin-bottom: 30px;border-color: #727CD6 !important;">

                        <p style="margin-bottom: 5px;">Email</p>
                        <input class="form-control" asp-for="ClinetModel.Email" type="email" required style="border-color: #727CD6 !important;/*border-bottom: #727CD6 !important;*//*border-top: white;*//*border-right: white;*//*border-left: white;*/margin-bottom: 30px;">

                        <p style="margin-bottom: 5px;margin-top: 0px;">Старый пароль</p>
                        <input class="form-control" type="password" asp-for="OldPassword" style="margin-bottom: 11px;border-color: #727CD6 !important;">

                        <p style="margin-bottom: 5px;margin-top: 0px;">Новый пароль</p>
                        <input class="form-control" asp-for="ClinetModel.Password" type="password" required style="margin-bottom: 11px;border-color: #727CD6 !important;">

                        <button class="btn btn-primary bg-primary border rounded-pill" type="submit" style="margin-top: 24px;padding-right: 54px;padding-left: 48px;background-color: #727CD6 !important;margin-left: 198px;margin-right: 180px;">Сохранить</button>
                    </form>
                }
                else
                {
                    <h1>Ошибка доступа к личному кабинету!</h1>
                }
            }
        </div>
    </div>
</div>
