@{
    ViewData["Title"] = "Профилактика дислексии";
}

<style>
    .bs-icon {
        --bs-icon-size: .75rem;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        font-size: var(--bs-icon-size);
        width: calc(var(--bs-icon-size) * 2);
        height: calc(var(--bs-icon-size) * 2);
        color: var(--bs-primary);
    }

    .bs-icon-xs {
        --bs-icon-size: 1rem;
        width: calc(var(--bs-icon-size) * 1.5);
        height: calc(var(--bs-icon-size) * 1.5);
    }

    .bs-icon-sm {
        --bs-icon-size: 1rem;
    }

    .bs-icon-md {
        --bs-icon-size: 1.5rem;
    }

    .bs-icon-lg {
        --bs-icon-size: 2rem;
    }

    .bs-icon-xl {
        --bs-icon-size: 2.5rem;
    }

    .bs-icon.bs-icon-primary {
        color: var(--bs-white);
        background: var(--bs-primary);
    }

    .bs-icon.bs-icon-primary-light {
        color: var(--bs-primary);
        background: rgba(var(--bs-primary-rgb), .2);
    }

    .bs-icon.bs-icon-semi-white {
        color: var(--bs-primary);
        background: rgba(255, 255, 255, .5);
    }

    .bs-icon.bs-icon-rounded {
        border-radius: .5rem;
    }

    .bs-icon.bs-icon-circle {
        border-radius: 50%;
    }

</style>


<div class="container" style="margin-left: 5px;margin-right: 687px;">
    <div class="row">
        <div class="col-md-6" style="padding-left: 0px;">
            <img src="/img/Logo_SGU.jpg" width="176" height="163" style="margin-left: 400px;margin-top: 40px;">
            <p class="text-center" style="margin-bottom: 0px;padding-left: 2px;margin-left: 112px;padding-right: 0px;margin-right: 126px;"><br>САРАТОВСКИЙ НАЦИОНАЛЬНЫЙ ИССЛЕДОВАТЕЛЬСКИЙ<br>ГОСУДАРСТВЕННЫЙ УНИВЕРСИТЕТ ИМЕНИ Н.&nbsp;Г.&nbsp;ЧЕРНЫШЕВСКОГО<br><br></p>
            <form asp-action="Login" asp-controller="Clients" method="post" style="padding-left: 72px;padding-right: 72px;margin-top: 114px;margin-left: 124px;margin-right: 90px;">
                <p style="margin-bottom: 5px;">Email</p>
                <input class="form-control" name="email" type="email" style="border-color: #727CD6 !important;/*border-bottom: #727CD6 !important;*//*border-top: white;*//*border-right: white;*//*border-left: white;*/">

                <p style="margin-top: 31px;margin-bottom: 5px;">Пароль</p>
                <input class="form-control" name="password" type="password" style="margin-bottom: 11px;border-color: #727CD6 !important;">

                <a href="@Url.Action("RegisterIndex", "Clients")" style="margin-bottom: 28px;margin-left: 500px;color: #727CD6 !important;">Регистрация</a>

                <button class="btn btn-primary bg-primary border rounded-pill" type="submit" style="margin-top: 24px;margin-left: 250px;margin-right: 240px;padding-right: 54px;padding-left: 48px;background-color: #727CD6 !important;">Вход</button>
            </form>
        </div>
        <div class="col-md-6"><img src="/img/anna-zakharova-Flo8OHfruSs-unsplash.jpg"></div>
    </div>
</div>
