@{
    ViewData["Title"] = "Home Page";
}


<header>
    <div class="header-content">
        <h1>Добро пожаловать на наш сайт!</h1>
        <p>Пройдите обучающие тесты для профилактики и коррекции дислексии и дисграфии.</p>
        <a href="login.html" class="login-link">Вы вошли как Дмитрий</a>
    </div>
</header>

<section class="achievements">
    <h2>Ваши достижения</h2>
    <div class="achievement-icons">
        <img src="~/img/free-icon-treasure-map-4832684.png" alt="Achievement Icon">
        <img src="~/img/free-icon-trophy-4581744.png" alt="Achievement Icon">
        <img src="~/img/free-icon-submarine-447824.png" alt="Achievement Icon">
    </div>
</section>

<section class="progress">
    <h2>Ваш прогресс</h2>
    <div class="progress-bar">
        <div class="progress" style="width: 70%;"></div>
    </div>
    <p>Вы успешно прошли 70% тестов.</p>
</section>

<section class="photos">
    <h2>Последние тесты</h2>
    <div class="photo-gallery">
        <img src="~/img/kletter.jpg" alt="Photo">
        <img src="~/img/bletter.jpg" alt="Photo">
        <img src="~/img/tletter.jpg" alt="Photo">
    </div>
</section>

@* <footer>
    <p>&copy; 2024 ExDyslex</p>
</footer> *@

