.login-container {
    height: 100vh;
}

.login-form {
    max-width: 400px;
    margin: auto;
}

.login-image {
    background-image: url('/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0
}

.remove-padding {
    padding: 0 !important;
}

.pb-3 {
    padding-bottom: 0 !important;
}