.login-container {
    height: 100vh;
}

.login-form {
    max-width: 400px;
    margin: auto;
}

.login-image {
    background-image: url('https://via.placeholder.com/600');
}

.container {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0
}
